/* ========= topup ========*/
.top-up .card-input {
  margin: 0 auto;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  border-radius: 0.24rem;
  display: inline-block;
  margin-left: 0;
  border: 0;
}
.top-up .money-box {
  height: 1.5rem;
  line-height: 1.5rem;
  border: none;
  overflow: hidden;
  resize: none;
}
.top-up .pay-btn-wrap.ng-scope {
  margin: 0 0.75rem;
}
.top-up .ion-ios-checkmark {
  color: #D0011B;
}
.top-up .account-area {
  padding: 0.16rem;
}
.top-up .account-area span {
  color: #999;
  font-size: 0.6rem;
}
.top-up .account-area .balance {
  float: right;
  text-align: right;
}
.top-up .account-area .username,
.top-up .account-area .balance-num {
  color: #D0011B;
}
.top-up .input-area {
  padding-top: 0.5rem;
}
.top-up .input-area .hr {
  margin-top: .4rem;
  border-color: #e2dddd;
  margin-bottom: .4rem;
}
.top-up .input-area input {
  border: 1px solid #9e9e9e;
  padding: 0.16rem;
  color: #D0011B;
  width: 70%;
  border: 0;
  font-size: 0.7rem;
}
.top-up .input-area span {
  font-size: 0.8rem;
}
.top-up .input-area span:last-child {
  margin-left: 0.5rem;
}
.top-up .input-area {
  background-color: #ffffff;
}
.top-up .tabs {
  background-color: #ffffff;
  color: #000000;
  border: 0;
  background-image: none;
  top: 9.6rem;
  width: 96%;
  margin-left: 0.4rem;
  border-radius: 0.4rem;
  overflow-x: scroll;
  flex: initial;
  -webkit-flex: initial;
  justify-content: initial;
  -webkit-justify-content: initial;
}
.top-up .tab-item {
  overflow: initial;
  flex: initial;
  text-overflow: initial;
  margin: 0 0.5px;
}
.top-up .tab-content {
  top: 10.6rem;
  width: 96%;
  margin-left: 0.5rem;
  /*height: auto;*/
}
.top-up .tab-item.tab-item-active,
.top-up .tab-item.active,
.top-up .tab-item.activated {
  color: #D0011B;
  border-bottom: 0.01rem solid;
}
.top-up .title-text {
  margin: 0.5rem;
  font-size: 0.8rem;
  color: #9e9e9e;
}
.top-up .tab-list {
  background-color: #ffffff;
}
.top-up .slide-tabs-wrap .slide-tab {
  margin-top: 0.4rem;
  display: block;
}
.top-up .slide-tabs-wrap .slide-tab .tab-list-content {
  background-color: #fff;
}
.top-up .slide-tabs-wrap .slide-tab .tab-list-content img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
}
.top-up .slide-tabs-wrap .slide-tab .ion-ios-checkmark {
  float: right;
}
.top-up .slide-tabs-wrap .slide-tab .tab-list-content p {
  margin: 0;
  border: 0;
  padding: 0;
  color: #666;
  font-size: 0.65rem;
}
.top-up .slide-tabs-wrap .slide-tab .item-content {
  padding: 0.4rem;
  border-bottom: 1px solid #ccc;
}
.top-up .slide-tabs-wrap .slide-tab .item-input {
  border-radius: 0.24rem;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  font-size: 0.64rem;
}
.top-up .slide-tabs-wrap .slide-tab hr {
  margin-left: 0.5rem;
  margin-right: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}
.top-up .slide-tabs-wrap .slide-tab .item-radio {
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
.top-up .tab-list-content:first-child .item-radio {
  border-top: 0;
}
.top-up .card-input-area {
  padding: 1.2rem;
}
.top-up .card-input-area .item {
  border: 1px solid #ddd;
}
.top-up .card-input-area input {
  margin: 0;
}
.top-up .card-input-area .item.active {
  background-color: #ffffff;
}
.top-up .moneylist ul li {
  display: inline-block;
  width: 4.2rem;
  text-align: center;
  overflow: hidden;
  padding: 0.1rem 0.2rem;
  border: 1px solid #e5e5e5;
  border-radius: .1rem;
  margin: 0.2rem;
  color: #666;
}
.top-up .slide-wrap,
.top-up .slide-tabs-wrap {
  height: auto;
}
.top-up .slide-wrap .slide-bar,
.top-up .slide-tabs-wrap .slide-bar {
  background: #fff6f6;
  padding: 10px 8px;
}
.top-up .slide-bars-wrap {
  width: 100%;
  background: #fff6f6;
  display: block !important;
}
.top-up .slide-tab {
  overflow: hidden;
  margin-top: 0 !important;
}
.top-up .item-radio input {
  position: absolute;
  left: -9999px;
}
.top-up .item {
  border-color: #ddd;
  background-color: #fff;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  padding: 0.8rem;
  margin: -1px 0.5rem;
  border-width: 1px;
  border-style: solid;
  font-size: 0.8rem;
  border-left: 0;
  border-right: 0;
}
.top-up .item-input {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 0.3rem 0 0.25rem 0.8rem;
}
.top-up .input-label {
  display: table;
  padding: 0.35rem 0.5rem 0.35rem 0rem;
  max-width: 10rem;
  width: 35%;
  color: #444;
  font-size: 0.8rem;
}
.topup-alert {
  background: #fff;
  border-radius: 0.8rem;
  padding: 0.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 14.4rem;
}
.topup-alert .topup-alert-title {
  padding-bottom: 0.4rem;
}
.topup-alert .topup-alert-title span {
  position: relative;
  left: 40%;
  font-weight: bold;
}
.topup-alert hr {
  margin: 0;
}
.topup-alert .topup-alert-content {
  padding: 0.4rem;
}
.topup-alert .topup-alert-button {
  position: relative;
  left: 35%;
  color: white;
  clear: both;
  background-color: #c71522;
  width: 4rem;
  height: 1.6rem;
  border-radius: 10px;
  border: none;
}
