<div class="s_11x5 s_box bg-white container" ng-repeat="(i,item)  in lottery">
    <h3 class="fs12 ball-title">
        <span class="title bg-gray">{{item.name}}{{item.rate}}</span>
    </h3>
    <div class="bg-white">
        <div ng-repeat="(ii,tt) in item.balls" class="x5play">
            <div class="fs12 text-center">{{tt.name}}</div>
            <ul class="balls">
                <li class="s-ball fl" ng-repeat="t in tt.child">
                    <div class="s-ball-no main-color flex-middle flex-center"
                          ng-click="selBalls($event,i,ii)"
                          btitle="{{item.name}}"
                          name="{{t.name}}"
                          rate="{{item.rate}}"
                          rebate="{{t.rebate}}"
                          code="{{t.code}}"
                          tid="{{t.tid}}"
                          pid="{{t.id}}">{{t.name}}
                    </div>
                    <div class="fs12 m-t10 text-center">
                        <span></span>
                    </div>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
