<iheader>
    <back></back>
    <h1 class="title">充值</h1>
</iheader>
<content class="topup-finish">
    <div class="row fs14">
        <div>
            <img src="../../assets/img/first_done.png">
            <img class="img-line" src="../../assets/img/state_half.png">
            <img src="../../assets/img/second_undone.png">
        </div>
        <div>
            <div class="up-content">
                <p>充值完成，您的充值申请已经提交成功!</p>
                <p>充值金额{{money}}元</p>
            </div>
            <p>充值到账</p>
            <p>充值成功后，您的余额将在一分钟内更新，请稍后查看，若届时仍未更新，请联系在线客服</p>
        </div>
    </div>
    <a class="block btn main-bg white radius5 text-center" ui-sref="tabs.my">完成</a>
</content>
