<div class="ch_numball lhc-sb fangBall">
    <ul class="balls">
        <li ng-repeat="t in lottery.balls">
            <span
                class="ball"
                ng-click="selBalls($event)"
                name="{{t.name}}"
                rate="{{t.rate}}"
                rebate="{{t.rebate}}"
                code="{{t.code}}"
                pid="{{t.id}}"
            >
                <div class="font{{t.code}} color" >{{t.name}}</div>
                <div ng-bind="t.rate" class="rate"></div>
            </span>
        </li>
    </ul>
</div>