<!-- 特码 -->
<div class="temcll clearfix">
	<div class="lot-number-left fl text-center">
	    <p class="fs14 no-wrap">号码</p>
	    <p class="pei-rate fs14 no-wrap">赔率</p>
	</div>
	<div class="lot-number-right fr">
	    <div class="ch_numball ball-red tm">
	        <ul class="balls">
	            <li ng-repeat="t in lottery.balls">
	                <span class="ball"
	                	ng-click="selBalls($event)"
	                	name="{{t.name}}"
	                	rate="{{t.rate}}"
	                	rebate="{{t.rebate}}"
	                	code="{{t.code}}"
	                	pid="{{t.id}}"
	                >{{t.name}}</span>
	                <div ng-bind="t.rate" class="rate"></div>
	            </li>
	        </ul>
	    </div>
	</div>
</div>
