<div class="clearfix lhc-zxbz">
    <div class="lot-number-left zxbz-label fl">
        <p class="fs14 text-center">号码</p>
    </div>
    <div class="lot-number-right fr">
        <div class="ch_numball ball-red">
            <ul class="balls">
                <li ng-repeat="t in lottery.balls">
                    <span
                    	class="ball"
                    	ng-click="selBalls($event)"
                    	name="{{t.name}}"
                    	rate="{{t.rate}}"
                    	rebate="{{t.rebate}}"
                    	code="{{t.code}}"
                    	pid="{{t.id}}"
                    >{{t.name}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>