<iheader>
    <back></back>
    <h1 class="title">信息公告</h1>
</iheader>
<content class="notice-list">
    <div>
        <div class="item" >
            <a class="row" href="/noticeDetail/0">
                <div class="re">
                    <img src="../../assets/img/notice_news@2x.png">
                    <!--<i class="badge-qipao qipao  ab" ng-show="has_new_notice"></i>-->
                </div>
                <span class="no-wrap">最新公告</span>
                <i class="iconfont icon-arrow-right"></i>
            </a>
        </div>
        <div class="item" >
            <a class="row" href="/noticeDetail/2">
                <div class="re">
                    <img src="../../assets/img/notice-member.png">
                    <i class="badge-qipao qipao  ab" ng-show="hasMemberNotice"></i>
                </div>
                <i class="ion-record" ng-show="true"></i>
                <span class="no-wrap">会员公告</span>
                <i class="iconfont icon-arrow-right"></i>
            </a>
        </div>
    </div>
</content>
