.commission .statistics {
  background-image: url(../../assets/img/proxy/banner-bg.png);
  background-size: 100%;
  line-height: 3.5rem;
}
.commission .col-border {
  width: 2px;
  background: #ccc;
  height: 1.2rem;
  margin-top: 0.6rem;
}
.bg-tab {
  background: #e42929;
  font-size: 0.8rem;
  line-height: 1.5rem;
}
