<div class="lot-number-wrap dxds" ng-repeat="v in lottery.balls track by v.id">
    <div class="lot-number-top clearfix">
        <div class="lot-number-left fl text-center">
            <span class="no-wrap fs14">{{playInfo.name}}</span>
        </div>
        <div class="lot-number-right fr">
            <div class="ch_numball ball-red">
                <ul class="balls">
                    <li ng-repeat="t in v.child track by t.id">
                        <span class="ball" ng-click="selBalls($event)"
                              name="{{t.name}}" rate="{{t.rate}}"
                              rate_min="{{t.rate_min}}" rebate="{{t.rebate}}"
                              code="{{t.code}}" pid="{{t.id}}">{{t.name}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
